body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
}

img {
  transition: 3s;
  height: 100px;
  width: 100px;
}

.App:hover > img {
  transform: rotate(1080deg);
}

.width {
  width: 960px;
  margin: auto;
}

.content {
  margin: 1rem auto;
  width: 95%;
  position: absolute;
  top: 40;
}

.header {
  margin: 0.5rem 1.5rem;
}

.section {
  height: 300px;
  margin: 1.5rem 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}